.tasks-container {
  padding-top: 25px;
  max-width: 470px;
}

.edit-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.trashbin:hover {
  text-decoration: none;
}

.margin-bottom {
  margin-bottom: 15px;
}

